.aboutContainer { 
  width: 90vw;
  max-width: 130rem;
  margin: auto;

}

.title {
  font-size: 3.2rem;
  color: var(--blue_800);
  text-align: center;
  text-transform: uppercase;
  margin: 5.6rem 0 2.4rem;
}

.description {
  color: var(--gray_500);
  text-align: center;
  font-size: 1.6rem;
  line-height: 130%;
  width: 100%;
  max-width: 60rem;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3.2rem 0;
  justify-content: center;
}

.image {
  position: relative;
  max-width: 386px;
  width: 100%;
  aspect-ratio: 386/526;
}

@media (min-width: 768px) {
  .content {
    flex-direction: row;
    gap: 2.4rem;
    margin-top: 2.4rem;
  }
}